body {
  width: 500px;
  margin: auto;
}
.post {
  margin: 10px;
  padding: 10px;
  padding-bottom: 30px;
  width: auto;
  background-color: rgba(128, 174, 226, 0.5);
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  border-radius: 10px;
  position: relative;
}
.post .user {
  color: #2b587a;
}
.post .avatar {
  float: left;
  width: 50;
  height: 50;
  margin: 3px 5px 3px 0;
  border-radius: 50%;
}
.post:after {
  content: '';
  clear: both;
  display: block;
}
.post .date {
  text-align: right;
  color: #93939F;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.post .attachment .attachment-photo {
  width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}
.post .attachment .poll {
  margin: 5px;
  margin-left: 55px;
  padding-left: 5px;
  border-left: 5px solid #2b587a;
}
.showComments {
  width: 100%;
  color: #2b587a;
  border: 1px solid #2b587a;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 15px;
}
.showComments:focus {
  outline: 0;
}
.showComments:after {
  content: 'Показать комментарии';
}
.showComments.opened:after {
  content: 'Скрыть комментарии';
}
.showComments.opened + .comments {
  max-height: 500px;
  opacity: 1;
}
.comments {
  background-color: white;
  max-height: 0;
  transition: max-height 0.25s ease-out;
  overflow-y: auto;
  border: 1px solid #2b587a;
  border-radius: 10px;
  opacity: 0;
}
.comments .comment {
  position: relative;
  margin: 5px;
}
.comments .comment:after {
  border-bottom: 1px solid #2b587a;
  content: '';
  clear: both;
  display: block;
}
.comments .comment-box {
  margin: 5px;
  width: 85%;
  border: 1px solid #2b587a;
  resize: none;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
}
.comments .post-comment-btn {
  background: #2b587a;
  color: white;
  border-radius: 3px;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: 120%;
  display: inline-block;
}
.ng-hide {
  display: none !important;
}
a {
  color: #2b587a;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #2b587a;
}
